# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp*

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# testing
coverage

# production
dist
dist-ssr
build

# other
*.local
.turbo
